########################################################
# Python virtual environments and build artifacts
########################################################
.venv/
venv/
myenv/

__pycache__/
*.pyc
*.egg-info

########################################################
# Node.js / React
########################################################
node_modules/
build/

########################################################
# Yarn (if you use it)
########################################################
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

########################################################
# OS-specific files
########################################################
.DS_Store

########################################################
# Environment/secret files
########################################################
.env
*.env

########################################################
# Zappa artifacts
########################################################
.zappa/
*.zip
backend-dev-template-*.json
zappa+settings.json
zappa_settings.json
zappa_settings.*.json

########################################################
# Logs
########################################################
logs/
*.log

########################################################
# IDE / Editor settings (optional)
########################################################
.vscode/
.idea/
